{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
<section id="content">
    <h2 id="heading-title">{{ page.title }}</h2>

    <div class="entry-content">
    {{ page.content }}
    </div>
    {% if page.modified %}
        <p>
        Last updated: {{ page.locale_modified }}
        </p>
    {% endif %}
</section>
<footer class="post-info">
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}
</footer>
{% endblock %}
